* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    width: auto;
}

header nav {
    display: flex;
    justify-content: space-around;
    height: 15vh;
    width: auto;
    /* background-color: cornflowerblue; */
    align-items: center;
}



#select {
    width: 17px;
    border: none;
    background: none;
    color: white;
}

select option {
    color: black;
    border-radius: 10%;
}

header section ul {
    display: flex;
    gap: 20px;

}

section a {
    text-decoration: none;
    color: rgb(210, 176, 181);
    outline: none;
}

section ul a:hover {
    color: cornflowerblue;
}

#username {
    height: 35px;
    width: 80px;
    border: none;
    background-color: rgb(243, 211, 173);
    border-radius: 10%;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 3rem;
    
}

.left {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left .h1 {
    color: rgb(243, 211, 173);
    font-size: 35px;
    margin: 10px;
}

.left p {
    color: rgb(210, 176, 181);
    margin: 10px;
}

.left section {
    width: 40vw;
}

.right {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laundryimg {
    width: 40vw;
    height: 60vh;
    background: none;

}

#Appointment {
    background: none;
    border: none;
    background-color: rgb(243, 211, 173);
    margin: 10px;
    height: 40px;
    width: 170px;
    border-radius: 20px;

}

#Appointment:hover {
    color: cornflowerblue;
}

.logo {
    height: 50px;
    width: 100px;
}

.blue {
    color: cornflowerblue;
    font-size: 35px;
    margin: 10px;
}

.service {
    height: auto;
    width: 100%;
}

.service-header {
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
    color: white
}

.service-header nav {
    display: flex;
    gap: 10px;
}

.service-header p {
    font-size: 1rem;
}


.service-content {
    background-color: #f1f1f1;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    gap: 20px;
}

.service-left {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.service-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    gap: 30px;
}

.service-left-header {
    padding: 10px;
}

.infosvg {
    padding: 1rem;
    display: flex;
    align-items: center;
    color: cornflowerblue;
}

.name {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 14vw;
}

.price {
    color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
}

.add-item {
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 12vw;
    justify-content: center;
}


.service-right {
    display: flex;
    gap: 30px;
    flex-direction: column;

}

.upper-right,
.lower-right {
    background-color: #fff;
    height: auto;
    border-radius: 10px;
}

.lower-right {
    padding-left: 10px;
}

.cart {
    padding: 35px 10px;
}

.cart h2 {
    padding: 13px;
    text-align: center;
}

.cart p {
    padding: 10px;
    font-weight: 600;
}

#cart-list {
    height: 30vh;
    padding: 10px;
    overflow-y: scroll;
}

#cart-list li {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    padding: 10px;
}

.name1 {
    border-radius: 10px;
    border: none;
    padding: 1rem;
    width: 96%;
    border: 2px solid #f1f1f1;
}

.email,
.number {
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    border: 2px solid #f1f1f1;

}

label {
    margin: 5px;
}

.booknow {
    border: none;
    padding: 1rem;
    background-color: cornflowerblue;
    color: white;
    margin: 10px 15px 10px 0;
    border-radius: 20px;
    font-weight: 600;
}

.form{
    padding: 35px;
}

.form h2 {
    padding: 1rem;
}

.form-content {
    display: flex;
    flex-direction: column;

    padding-left: 10px;
}


.if {
    display: flex;
    flex-direction: column;

}

.remove-item {
    display: none;
    color: red;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    align-items: center;
    gap: 4px;
    width: 12vw;
    justify-content: center;
    align-items: center;
}



.item-name,
.item-price {
    font-weight: 700;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}


#empty-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}


#empty-msg ion-icon {
    font-size: 50px;
}

.features {
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
}

.features-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
}

.card {
    height: auto;
    padding: 10px;
    text-align: center;
}

.card h2 {
    margin: 10px 0;
}

.card ion-icon {
    font-size: 100px;
}

.card small {
    color: rgb(120, 119, 119);
}

.subscribe {
    padding: 1rem;
    background-color: cornflowerblue;
    height: auto;
}

.subscribe-content {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.subscribe-header {
    /* height: 120px;
    width: 500px; */
    display: flex;
    flex-wrap: wrap;
}

.subscribe-header h1 {
    width: fit-content;
    color: #fff;
    font-size: 3rem;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    /* align-items: center; */
}

.subscribe-form div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.subscribe-btn {
    border: none;
    padding: 1rem 2rem;
    background-color: #fff;
    color: cornflowerblue;
    font-weight: 700;
    width: 48%;
}

.input {
    padding: 1rem 3rem;
    border: none;
    background-color: rgb(118, 161, 240);
    color: #f1f1f1;
    text-align: start;

}

.input::placeholder {
    color: white;

}


footer {
    padding: 2rem;
    background-color: black;
    color: white;
}

.footer {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
}

.aboutus,
.links {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact {
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.follow {
    text-align: center;
}

.follow ion-icon {
    padding: 10px;
    margin: 10px;
}

.links a {
    text-decoration: none;
    color: white;
}
.services div{
    display: flex;
    gap: 20px;
}



@media(max-width:650px) {
    .subscribe-form {
        align-items: center;
    }

    .name{
        width: 35vw;
    }

    .price{
        width: 12vw;
    }

    .add-item , .remove-item{
        padding: 10px 10px;
        width: 34vw;
    }

    .remove-item{
        gap: 2px;
    }

    .remove-item ion-icon{
        margin: 0;
    }

    .services{
        gap: 10px;
    }

    .services div{
        gap: 0;
    }

    header section ul{
        font-size: 60%;
        gap: 10px;
    }

    #username{
        font-size: 60%;
        height: 25px;
        width: 65px;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .left{
        width: 100%;
    }

    .left section{
        width: 100vw;
    }

    .right{
        width: 100%;
       
    }

    .right img{
        width: 100vw;
         padding: 10px;
    }
}